* {
   font-size: 12px;
}

html, body {
   height: 100%;
}

body {
   font-family: 'Raleway', sans-serif;
   background: rgb(255,191,195);
   background: linear-gradient(0deg, rgba(255,191,195,1) 0%, rgba(254,223,205,1) 32%, rgba(255,191,195,1) 67%, rgba(254,216,201,1) 100%);
   display: block;
}

.profile {
   padding: 60px 0 30px 0;
   text-align: center;
}

.profile-avatar {
   width: 100px;
   border-radius: 100px;
   box-shadow: 0 0 20px black;
}

.profile-h1 {
   font-family: 'Architects Daughter', cursive;
   font-weight: 100;
   font-size: 26px;
   margin: 10px 0 5px 0;
}

.profile-h2 {
   font-size: 16px;
}

.social {
   display: flex;
   justify-content: space-around;
   list-style: none;
   margin: 20px 0;
}

.icons {
   width: 35px;
   border-radius: 50px;
   display: flexbox;
}

.icons:hover {
   box-shadow: 0 0 15px white;
}

.links-list {
   list-style: none;
}

.links-list li {
   margin: 15px 50px;
   text-align: center;
}

.links-list li a {
   background-color: rgb(255, 255, 255);
   text-decoration: none;
   display: block;
   padding: 15px 20px;
   border-radius: 20px;
   font-weight: bolder;
}

.links-list li a:hover {
   box-shadow: 0 0 6px white;
}

.links-list li a h2 {
   text-transform: uppercase;
   color: #a9156e;
}

.links-list li a span {
   color: #a26a8c;
   display: block;
   padding: 5px 0 0;

}

